<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.project.team3.places_near_me">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/places_near"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <uses-library android:name="com.google.android.maps" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".Entry_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Admin_Console"
            android:label="@string/title_activity_admin__console"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signup_Activity"
            android:label="Sign-up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Changepassword_screen"
            android:label="@string/title_activity_changepassword_screen"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Login_Page"
            android:label="@string/title_activity_login__page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Passwordupdated"
            android:label="@string/title_activity_passwordupdated"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signup_Success"
            android:label="@string/title_activity_signup_success"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.mad.project.team3.places_near_me.Home_Screen_Main_Activity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.mad.project.team3.places_near_me.GooglePlacesActivity"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="com.mad.project.team3.places_near_me.GooglePlacesActivity" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
            meta-data android:name="android.app.default_searchable" android:value="MapsActivity" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" /
            -->
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name="com.mad.project.team3.places_near_me.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mad.project.team3.places_near_me.Details_Place"
            android:label="@string/title_activity_details__place"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
